// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content {
  padding: 10px;
  margin: auto;
}

input {
  font-size: xx-large;
  margin: 10px;
}

h2.collection-item {
  padding: 5px;
}

div.submission-item {
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
}
